body{
    margin: 0px;
    padding: 0px;
}
.section1{
    border: 2px solid black;
    margin: 15px;
    padding-bottom: 35px;
}
h1{
    text-align: center;
    font-size: 2.3em;
    font-style: normal;
    letter-spacing: 5px;
}
.mouvement{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

    
}
#budget{
    width: 150px;
    height: 60px;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

p{
    font-size: 1.2em;
    text-align: center;
}

.liste_depense{
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
}
.section1 table{
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    caption-side: top;
}
.section1 tr,th,td{
    font-size: 1.2em;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}
.titredep{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.buttondep{
    width: 125px;
    height: 45px;
    border: 2px solid rgb(250, 128, 114);
    border-radius: 7px;
    background-color:rgb(244, 178, 170);
    font-size: 0.9em;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.buttonrev{
    width: 125px;
    height: 45px;
    border: 2px solid rgb(116, 212, 47);
    border-radius: 7px;
    background-color: rgb(168, 233, 148);
    font-size: 1em;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.section2{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.section2 table{
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.section2 tr,th,td{
    border: 2px solid black;
    text-align: left;
}
.ajouter_depense{
    padding: 25px;
    border: 2px solid black;
    width: 35%;
    align-items: center;
}
.ajouter_depense h2{
    text-align: center;
}
.ajouter_revenus{
    padding: 25px;
    border: 2px solid black;
    width: 35%;
    align-items: center;
}
.ajouter_revenus h2{
    text-align: center;
}
.button{
    margin-top: 30px;
    text-align: right;
}
@media screen  and (max-width:780px) {
    body{
        background-color: rgb(221, 221, 235);
    }
    .mouvement{
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }
}